.form{
    border: 1px solid gainsboro;
    display: flex;
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    row-gap: 1rem;
    flex-direction: column;
}
.form__title{
    text-align: center;
    font-weight: 400;
}
.form__group{
    display: flex;
    flex-direction: column;
}
.form__group--icons{
    display: flex;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 0.4rem;
    overflow: hidden;
    transition: outline 0.1s;
}
.form__group--icon{
    padding: 0 0.5rem;
}
.form__label{
    text-transform: uppercase;
    font-weight: lighter;
}
.form__control{
    border: none;
    padding: 0.7rem;
    flex-grow: 1;
    letter-spacing: 0.1rem;
}
.form__control:focus{
    outline: none;
}
.form__group--error {
    outline: #ef5350 0.1rem solid;
}