.dashboard{
    display: grid;
    grid-template-columns: 20vw 80vw;
    height: 100vh;
    overflow: hidden;
}
.dashboard__component{
    display: flex;
    max-height: 100vh;
    align-items: start;
    overflow-y: scroll;
    animation: fade-from-right 1s;
}