.read-task{
    border: 1px solid gainsboro;
    border-collapse: collapse;
    width: 100%;
    border-top: none;
    border-left: none;
}
.read-task thead tr th{
    border: 1px solid gainsboro;
    font-weight: 400;
    padding: 1rem;
    border-top: none;
    border-left: none;
}
.read-task tbody tr td{
    border: 1px solid gainsboro;
    padding: 1rem;
    border-top: none;
    font-weight: 200;
}